In [42]:
!pip install yfinance
!pip install psycopg2-binary
!pip install python-dotenv
!pip install SQLAlchemy 
import pandas as pd

Requirement already satisfied: yfinance in /opt/conda/lib/python3.10/site-packages (0.2.20)
Requirement already satisfied: pandas>=1.3.0 in /opt/conda/lib/python3.10/site-packages (from yfinance) (2.0.0)
Requirement already satisfied: numpy>=1.16.5 in /opt/conda/lib/python3.10/site-packages (from yfinance) (1.23.5)
Requirement already satisfied: requests>=2.26 in /opt/conda/lib/python3.10/site-packages (from yfinance) (2.28.2)
Requirement already satisfied: multitasking>=0.0.7 in /opt/conda/lib/python3.10/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /opt/conda/lib/python3.10/site-packages (from yfinance) (4.9.2)
Requirement already satisfied: appdirs>=1.4.4 in /opt/conda/lib/python3.10/site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in /opt/conda/lib/python3.10/site-packages (from yfinance) (2023.3)
Requirement already satisfied: frozendict>=2.3.4 in /opt/conda/lib/python3.10/site-packages (from yfinance) (2.3.8)
Requirement already satisfied: cryptography>=3.3.2 in /opt/conda/lib/python3.10/site-packages (from yfinance) (40.0.2)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /opt/conda/lib/python3.10/site-packages (from yfinance) (4.12.2)
Requirement already satisfied: html5lib>=1.1 in /opt/conda/lib/python3.10/site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in /opt/conda/lib/python3.10/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.3.2.post1)
Requirement already satisfied: cffi>=1.12 in /opt/conda/lib/python3.10/site-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: six>=1.9 in /opt/conda/lib/python3.10/site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /opt/conda/lib/python3.10/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.10/site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in /opt/conda/lib/python3.10/site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/lib/python3.10/site-packages (from requests>=2.26->yfinance) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.10/site-packages (from requests>=2.26->yfinance) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.10/site-packages (from requests>=2.26->yfinance) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.10/site-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: pycparser in /opt/conda/lib/python3.10/site-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Requirement already satisfied: psycopg2-binary in /opt/conda/lib/python3.10/site-packages (2.9.6)
Requirement already satisfied: python-dotenv in /opt/conda/lib/python3.10/site-packages (1.0.0)
Requirement already satisfied: SQLAlchemy in /opt/conda/lib/python3.10/site-packages (2.0.10)
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/conda/lib/python3.10/site-packages (from SQLAlchemy) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.10/site-packages (from SQLAlchemy) (2.0.2)

In [43]:
import yfinance as yf # Son el historico de 5 aÃ±os de la empresa harmony gold. Se renombran las columnas, se eliminan 3 y se crea una indicando el nombre de la empresa.
hmy = yf.Ticker('HMY')
hist = hmy.history(period="5y")
hist['Date']=hist.index
hist=hist.reset_index(drop=True)
hist= hist.rename(columns={"Open":"Apertura","High":"Precio_alto","Low":"Precio_bajo","Close":"Cierre","Volume":"Volumen","Dividends":"Dividendos","Stock Splits":"Stock","Date":"Dia"})
hist= hist.drop(columns=["Dividendos","Stock","Volumen"])
hist.insert(
    loc=0,
    column= "Empresa",
    value="Harmony Gold",
    allow_duplicates=False,
)
hist

,Empresa,Apertura,Precio_alto,Precio_bajo,Cierre,Dia
0,Harmony Gold,1.549260,1.626722,1.520211,1.578308,2018-06-21 00:00:00-04:00
1,Harmony Gold,1.578308,1.587991,1.549260,1.549260,2018-06-22 00:00:00-04:00
2,Harmony Gold,1.549260,1.568625,1.529894,1.558942,2018-06-25 00:00:00-04:00
3,Harmony Gold,1.520211,1.529894,1.471796,1.500845,2018-06-26 00:00:00-04:00
4,Harmony Gold,1.471796,1.520211,1.471796,1.500845,2018-06-27 00:00:00-04:00
...,...,...,...,...,...,...
1252,Harmony Gold,4.660000,4.700000,4.460000,4.480000,2023-06-13 00:00:00-04:00
1253,Harmony Gold,4.600000,4.660000,4.490000,4.530000,2023-06-14 00:00:00-04:00
1254,Harmony Gold,4.560000,4.590000,4.500000,4.560000,2023-06-15 00:00:00-04:00
1255,Harmony Gold,4.550000,4.570000,4.390000,4.510000,2023-06-16 00:00:00-04:00
1256,Harmony Gold,4.360000,4.370000,4.230000,4.260000,2023-06-20 00:00:00-04:00

In [44]:
hist.duplicated() #verifico que no alla duplicados.

0       False
1       False
2       False
3       False
4       False
        ...
1252    False
1253    False
1254    False
1255    False
1256    False
Length: 1257, dtype: bool

In [45]:
Harmony_sin_duplicados= hist.drop_duplicates()#Elimino duplicados 
Harmony_sin_duplicados

,Empresa,Apertura,Precio_alto,Precio_bajo,Cierre,Dia
0,Harmony Gold,1.549260,1.626722,1.520211,1.578308,2018-06-21 00:00:00-04:00
1,Harmony Gold,1.578308,1.587991,1.549260,1.549260,2018-06-22 00:00:00-04:00
2,Harmony Gold,1.549260,1.568625,1.529894,1.558942,2018-06-25 00:00:00-04:00
3,Harmony Gold,1.520211,1.529894,1.471796,1.500845,2018-06-26 00:00:00-04:00
4,Harmony Gold,1.471796,1.520211,1.471796,1.500845,2018-06-27 00:00:00-04:00
...,...,...,...,...,...,...
1252,Harmony Gold,4.660000,4.700000,4.460000,4.480000,2023-06-13 00:00:00-04:00
1253,Harmony Gold,4.600000,4.660000,4.490000,4.530000,2023-06-14 00:00:00-04:00
1254,Harmony Gold,4.560000,4.590000,4.500000,4.560000,2023-06-15 00:00:00-04:00
1255,Harmony Gold,4.550000,4.570000,4.390000,4.510000,2023-06-16 00:00:00-04:00
1256,Harmony Gold,4.360000,4.370000,4.230000,4.260000,2023-06-20 00:00:00-04:00

In [46]:
Harmony_sin_duplicados.describe()

          Apertura  Precio_alto  Precio_bajo       Cierre
count  1257.000000  1257.000000  1257.000000  1257.000000
mean      3.409547     3.485148     3.331000     3.406069
std       1.180978     1.199706     1.150139     1.174347
min       1.394334     1.481479     1.384651     1.394334
25%       2.469132     2.595010     2.388402     2.510000
50%       3.447102     3.534248     3.380000     3.450000
75%       4.155914     4.225957     4.066806     4.153952
max       7.213739     7.368665     6.787693     6.874838

In [47]:
import os
import psycopg2
env = os.environ

In [59]:
try:
    conn =psycopg2.connect( host=env['AWS_REDSHIFT_HOST'],
                           dbname="data-engineer-database",
                           user= env['AWS_REDSHIFT_USER'],
                           password= env['AWS_REDSHIFT_PASSWORD'],
                           port="5439"
                          )
    print("me conecte")
except Exception as e:
    print("odio esto")
    print(e)

me conecte

In [60]:
cursor = conn.cursor()
cursor.execute(f"""
create table if not exists {"jcapuzzi_coderhouse"}.Harmony_sin_duplicados (
    Empresa VARCHAR(30),
    Apertura decimal(20,2),
    Precio_alto decimal(20,2),
    Precio_bajo decimal(20,2),
    Cierre decimal(20,2),
    Dia date distkey
) sortkey(Dia);
""")
conn.commit()
cursor.close()
print("Table created!")

Table created!

In [61]:
cur= conn.cursor()
cur.execute ("SELECT * FROM Harmony_sin_duplicados")
results = cur.fetchall()
results

[]

In [62]:
from psycopg2.extras import execute_values
cur = conn.cursor ()
table_name="harmony_sin_duplicados"
columns=["Empresa","Apertura","precio_alto","Precio_bajo","Cierre","Dia"]
values=[tuple(x) for x in Harmony_sin_duplicados.to_numpy()]
insert_sql= f"INSERT INTO {table_name} ({','.join(columns)}) VALUES %s"
cur.execute("BEGIN")
execute_values(cur, insert_sql, values)
cur.execute("COMMIT")